$size: 35vw;
$shadow: 35;
$primary: white;
$secondary: black;


/* Recipes Headers animations */
.random {
  animation: sliding-background 50s linear infinite;
  background: url(/public/image/calum-lewis-vA1L1jRTM70-unsplash.jpg) no-repeat left / 120%;

}

.dessert {
  background: url(/image/kobby-mendez-q54Oxq44MZs-unsplash.jpg) no-repeat left / 120%;
  animation: sliding-background 50s linear infinite;
  
}

.healthy {
  background: url(/image/dan-gold-4_jhDO54BYg-unsplash.jpg) no-repeat left / 120%;
  animation: sliding-background 50s linear infinite;


}

.recipe-headers {
  & .titles {
    background: var(--primary);
    font-size: 8rem !important;
    text-align: center;
    letter-spacing: 1vw;
    margin: 0;
    mix-blend-mode: lighten;
    text-transform: uppercase;
    $text-shadow: ();
    @for $i from 1 through $shadow {
      $text-shadow: append($text-shadow, 1px * $i 1px * $i $secondary);
    }
    text-shadow:
      0 0 0px,
      $text-shadow;
  }

  &:before {
    color: $primary;
    content: attr(data-text);
    margin-left: -1%;
    margin-top: -1%;
    position: absolute;
  }
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}
