$size: 35vw;
$shadow: 35;
$primary: white;
$secondary: black;


/* Recipes Headers animations */
.random {
  animation: sliding-background 50s linear infinite;
  background: url(/public/image/calum-lewis-vA1L1jRTM70-unsplash.jpg) no-repeat left / 120%;

}

.dessert {
  background: url(/image/kobby-mendez-q54Oxq44MZs-unsplash.jpg) no-repeat left / 120%;
  animation: sliding-background 50s linear infinite;
  
}

.healthy {
  background: url(/image/dan-gold-4_jhDO54BYg-unsplash.jpg) no-repeat left / 120%;
  animation: sliding-background 50s linear infinite;


}

.recipe-headers {
  & .titles {
    background: var(--primary);
    font-size: 8rem !important;
    text-align: center;
    letter-spacing: 1vw;
    margin: 0;
    mix-blend-mode: lighten;
    text-transform: uppercase;
    $text-shadow: ();
    @for $i from 1 through $shadow {
      $text-shadow: append($text-shadow, 1px * $i 1px * $i $secondary);
    }
    text-shadow:
      0 0 0px,
      $text-shadow;
  }

  &:before {
    color: $primary;
    content: attr(data-text);
    margin-left: -1%;
    margin-top: -1%;
    position: absolute;
  }
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}


hr{
  display: block;
position: relative;
width: auto;
height: 2px;
margin: 3rem 0 5rem -50vw;
left: 50%;
border: none;
border-bottom: 2px dashed rgba($purple, .25);
  transform: rotate(90deg);
float: left;
~ * {
  clear: both;
}
}

// Profile card
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



// body{
//   min-height:100vh;
//   min-width:100vw;
//   background:linear-gradient(to right bottom,rgba(blue,0.5),rgba(green,0.5)),url(http://i.imgur.com/woUbg3p.jpg);
//   background-size:cover;
//   background-position:center center;
//   display:flex;
//   justify-content:center;
//   align-items:center;
// }

/* Profile card  */
#header{
  width:50vw;
  max-width:400px;
  min-width:300px;
  height:150px;
  background:url(http://i.imgur.com/woUbg3p.jpg);
  background-size:cover;
  background-position: center center;
  transition: all .08s linear;
}

.profile-label{
  display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: pink;
    border-radius: 5px;
    position: absolute;
    left: 150px;
}


#profile{
  width:50vw;
  max-width:400px;
  min-width:300px;
  height: 250px;
  background:white;
  position:relative;
  box-sizing:border-box;
  padding-top:40px;
  padding-left:25px;
  font-family: 'Open Sans', sans-serif;
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    border:3px solid black;
    top:5px;
    left: 20px;
    height:80px;
    width:80px;
    border-radius:10px;
    img{
      width:40px;
      height:40px;
      border-radius:8px;
    }
  }
  .name{
    font-size:1.3rem;
    font-weight:500;
    color:#444;
  }
  .nickname{
    color:#888;
    font-size:0.9rem;
    padding-bottom:7px;
  }
  .location{
    color:#555;
    font-size:0.9rem;
    padding-left:0px;
    position:relative;
    left:-5px;
    .material-icons{
      position:relative;
      top:3px;
      font-size:1rem;
    }
  }
}

.shadow{
  box-shadow: 0px 0px 10px 1px rgba(black,0.5);
}

.overflow{
  overflow:hidden;
}

.following,
.followers{
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
  color:#bbb;
  font-weight:300;
}
.followers{
  float:right;
  padding-right:30px;
}
.bottom{
  margin-top:10px;
}

.count{
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
  font-weight:700;
}

/* profile hero */
/* // n is number of stars required */

/* Define the number of stars and box-shadow function */
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

// Generate random box shadows for small, medium, and big stars
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

/* Profile Hero Section */
.profile-hero {
  height: 60vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  position: relative;
}

/* Star fields */
#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
}

#stars {
  box-shadow: 
      0px 0px 1000px #FFF, 
      2000px 2000px #FFF, 
      3000px 3000px #FFF, 
      1500px 1500px #FFF, 
      1000px 1000px #FFF; /* 700 random shadows for small stars */
  animation: animStar 50s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 
      0px 0px 500px #FFF, 
      2000px 2000px #FFF, 
      1500px 1500px #FFF; /* 200 random shadows for medium stars */
  animation: animStar 100s linear infinite;
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: 
      0px 0px 200px #FFF, 
      2000px 2000px #FFF; /* 100 random shadows for big stars */
  animation: animStar 150s linear infinite;
}

/* Title styling */
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Star animation keyframes */
@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}

.recipe-card-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  .recipe-details-container {
      height: 100%;
      min-height: 500px;
  }
  .recipe-info {
      width: 100%;
      padding: 2rem 1.4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      color: white;
      z-index: 9999;
      h3 {
          font-size: 2rem;
      }
      &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
      }
  }
  .recipe-ratings {
      margin-top: 10px;
  }
  .recipe-overview {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1.4rem;
      margin-top: 10px;
  }
  .recipe-time {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 12px;
      &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
          width: 20px;
          height: 20px;
          margin-right: 4px;
      }
  }
  .recipe-serve {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 12px;
      &::before {
          overflow: hidden;
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 512 512' width='24' height='24' fill='%23fff'%3E%3Cpath d='M48,272H90.523a23.832,23.832,0,0,0,6.393,25.692l65.678,60.2.006-.006c.055.05.1.106.161.154L266.554,448H264a8,8,0,0,0-8,8v32a8,8,0,0,0,8,8h96a8,8,0,0,0,8-8V456a8,8,0,0,0-8-8V435.313l4.284-4.284A39.735,39.735,0,0,0,376,402.745V353.733l29-63.8A23.884,23.884,0,0,0,405.776,272H464a24.028,24.028,0,0,0,24-24V232a8,8,0,0,0-8-8H448v-8c0-92.636-75.364-168-168-168V32h8a8,8,0,0,0,0-16H224a8,8,0,0,0,0,16h8V48C139.364,48,64,123.364,64,216v8H32a8,8,0,0,0-8,8v16A24.028,24.028,0,0,0,48,272Zm57.677,5.1a7.823,7.823,0,0,1,7);
      }
          }
      }