<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav>
        <img src="/image/onice-high-resolution-logo-transparent (1).png" alt="logo-img">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

  
    <div class="search-bar">
        <div class="row">
            <input  type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
            <i class="fa-solid fa-magnifying-glass"></i>
            <button></button>
        </div>
    </div>

    <h1>Random Recipes</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li>
                <h2><%= recipe.title %></h2>
                <p><%= recipe.summary %></p>
                <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
            </li>
        <% }) %>
    </ul>
    <script src='js/main.js'></script>
</body>
</html>