@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/* Box Model Hack */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
--linear-grad: linear-gradient(to right, #141e30, #24eb55);
--grid-clr1: #141e30;
--grid-clr2: #24eb55;
}

h1{
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
}

h2{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
}

p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
nav{
    padding: 1em;
    height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
   
}



nav img{
    height: 35px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%; 
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Home page */

#hero-section{
    position: relative;
    width: 100%;
}

.recipe-hero{
    height: 50vh;
    display: flex;
    align-items: center;
    background: url(/image/hero-bg.png)  no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
}

.recipe-hero * {
    position: relative;
    z-index: 2; /* Ensures content is above the overlay */
}


.recipe-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



.hero-content{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.hero-content h2{
    font-size:  5em;
    animation: HeroHeader 1s ease-in-out;
    font-family: "Caveat", cursive;
    font-weight: 500;
    color: antiquewhite;
    margin-bottom: 20px;
    text-align: center;
    
}

.hero-content p {
    color: antiquewhite;
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 0;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

@keyframes HeroHeader {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



#login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    place-content: center;
}


.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #FFECE5, #62beb6);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.sign-in-form > h2{
    font-family: "Raleway", sans-serif;
}

.sign-up-form > h2 {
    font-family: "Raleway", sans-serif;
}
.container > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title {
    font-size: 35px;
    color: var(--grid-clr1);
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 20px 0;
    border: 1px solid var(--grid-clr1);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn{
    border-radius: 20px;
    border: 1px solid var(--grid-clr1);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: #6dbb98;
}
.content .btn {
    border-radius: 20px;
    border: 1px solid var(--grid-clr1);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: #6dbb98;
}
.content .btn:hover {
    background: var(--grid-clr1);
    background-color: #f8ece3;
}

.btn:hover{
    background: var(--grid-clr1);
    background-color: #f8ece3;
}
.social-text {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 500;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.social-icon:hover {
    color: #6dbb98;
    border-color: var(--grid-clr1);
}
.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panels-container h3 {
    font-family: "Raleway", sans-serif;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
    gap: 40px;
}
.left-panel {
    pointer-events: none;
}
.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}


.panel h3 {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
    margin: 20px 0;
    color: black;
    font-weight: 500;
}
.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
    padding: 50px;
    object-fit: cover;
}
.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}
.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}
/*Animation*/
.container.sign-up-mode::before {
    transform: translateX(0);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.container.sign-up-mode .right-panel {
    pointer-events: none;
}
.container.sign-up-mode .left-panel {
    pointer-events: all;
}
/*Responsive*/
@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}
@media (max-width:320px) {
    form {
        width: 90%;
    }
}
 .form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container{
    opacity: 0;
    z-index: 1;
}

.sign-in-container{
    z-index: 2;
}



h1{
    color: var(--grid-clr1);
}




span{
    font-size: 12px;
}

.field{
    position: relative;
   margin: 8px 0px;
    width: 100%;
}


.field input[type="email"] {
    padding-left: 30px; 
    box-sizing: border-box;
    width: 100%;
}

.field i.fa-envelope {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
     pointer-events: none; /* Ensure the icon does not block input events  */
}

.field input[type="password"] {
    padding-left: 30px; 
    box-sizing: border-box;
    width: 100%;
}


.field i.fa-lock {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none; 
}

.field input[type="text"] {
    padding-left: 30px; 
    box-sizing: border-box;
    width: 100%;
}


.field i.fa-user  {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none; 
}


label{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

input{
    width: 100%;
    padding: 12px;
}


input:focus ~ label{
    width: 100%;
} 

a{
color: #333;
font-size: 14px;
text-decoration: none;
margin: 15px 0px;
}

a .forget{
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}

button{
border-radius: 20px;
border: 1px solid var(--grid-clr1);
background: var(--grid-clr2);
color: #ffffff;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
}

.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}



.form-container button:hover{
    background: #fff;
    color: var(--grid-clr1);
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
}

.overlay{
    position: relative;
    background: var(--linear-grad);
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left{
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right{
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1{
color: #fff;
}

.overlay-panel button{
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container{
transform: translateX(-150%);
}

.right-panel-active .overlay{
    transform: translateX(50%);
}

.right-panel-active .overlay-left{
    transform: translateX(25%);
}
.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
} */

@keyframes show{
    0%, 50%{
        opacity: 0;
        z-index: 1;
    }

    50.1%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.btnScaled{
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn{
    0% {
        width: 143.67px;
    }
    50%{
        width: 250px;
    }
    100%{
        width: 143.67px;
    }
}

/* p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
} */


/* Media Queries */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .form-container {
        width: 100%;
        position: relative;
        top: auto;
        height: auto;
        padding: 20px;
    }

    .overlay-container {
        display: none;
    }

    .sign-up-container,
    .sign-in-container {
        width: 100%;
    }
} */


/* Home page End */

/* Recipe Page */
.search-bar{
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 100px auto 0;
    border-radius: 5px;
}

#input-box {
    width: 100%; /* Ensure the input box takes up the full width of the container */
    padding: 10px 50px; /* Add padding to accommodate the icon and button */
    border: 1px solid #ccc;
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Hidden by default */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search-bar input{
    flex: 1;
    height: 50px;
    background: #333;
    padding: 10px 40px 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}

.search-bar button{
    background: transparent;
    border: 0;
    outline: 0;
}

.search-bar .fa-magnifying-glass {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
}

/* Cusines Section */
#cuisenes{
    height: 180px;
}

.cuisenes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.cuisnes-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cuisnes-list h2{
    margin: 10px 0;
    font-weight: 500;
}

.cuisnes-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuisnes-list img{
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.cuisine-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.cuisine-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}

.cuisine-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    list-style: none;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}



.cuisine-container li img {
    border-radius: 25px;
    border: 2px solid;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.cuisine-container li img:hover{
    transform: scale(1.1);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.cuisine-container h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 0;
}

.cusine-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

.get-recipe-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    padding: 10px 20px;
    border-radius: 5px;
}
.image-container:hover .cusine-overlay {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}

.btn-flat {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* -----------------------------Random Recipe ------------------------------------- */
/* Custom styles for trending section */

#trending, #trending-desserts, #trending-healthy {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

#trending h1, #trending-desserts h1, #trending-healthy h1 {
    font-size: 2.5em;
}

.recipe-headers{
    width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
    text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient( 360deg, #FFECE5, 10%,  #62beb6 100%); */
    /* border-bottom: 4px solid #333;
    border-top: 4px solid #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.recipe-headers img {
    width: 50px;
    height: 50px; 
    background-image:  url('/image/book.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    display: block;
}


 

.glide, .glide-desserts, .glide-healthy {
    width: 80%;
    padding: 20px 0;
}

.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
      box-shadow: 0 2px 10px rgb(0 0 0 / 63%);
    width: 100%;
    margin: 10px 0;
    max-width: 350px;
    height: 550px;
    position: relative;
    background-color: #333;
    color: #ffffff;
    justify-content: space-evenly;
}

.glide-card-content{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 15px;
    margin: 10px 0;
}

.view-recipe-btn{
    cursor: pointer;
    border: 1px solid;
    text-transform: uppercase;
    background: #FFECE5;
    padding: 5px 5px;
    transition: color 0.4s linear;
    position: relative;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
}

.glide-card > button:hover{
    color: none;
  
}

.glide-card  button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s ease;
    transform-origin: left;
   transform: scaleX(1);
}


.glide-card button:hover::before{
transform-origin: right;
transition: transform 0.5s ease;
transform: scaleX(0);
}

.glide__bullet{
    border: 1.5px solid black;
}

.glide__bullets {
bottom: 0%;
padding: 40px 0;
position: relative;
}



.glide__bullet--active{
    background-color: burlywood;
    border: 1px solid black;
}



.glide-card-image {
    width: 100%;
    position: relative;
    max-width: 350px;
}

.glide-card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
    display: block;
    margin-bottom: 10px;
}

.glide-card-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 15px;
}


.glide-card p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
}


.glide-card-memory{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin: 15px 0;
}

.glide-card-memory button{
    cursor: pointer;
    border: 1.5px solid white;
    background: none;
    padding: 15px 15px;
    position: relative;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    overflow: hidden;
    border-radius: 100%; 
    }

    .glide-card-memory .btn .fa-heart {
        color: red;
    }
    
    .glide-card-memory .btn .fa-star {
        color: gold;
    }
    
    .glide-card-memory .btn .fa-trash {
        color: lightsteelblue;
    }

.glide-card-memory button:hover{
    background-color: #ffffff;
    border:1px solid white;
}

#healthy {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

#healthy h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.healthy-glide {
    width: 80%;
    padding: 20px 0;
}

.healthy glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.healthy-glide-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 350px;
    position: relative;
}

.healthy-glide__bullets{
    display: flex;
    align-items: center;
    height: 20px;
    border: none;
    justify-content: center;
    gap: 10px;
    
}

.healthy-glide__bullets

.glide__bullets {
bottom: 0%;
}




.healthy-glide-card-image {
    width: 100%;
    position: relative;
}

.healthy-glide-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.healthy-glide-card-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 15px;
}


.healthy-glide-card p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
/* Cuisine Nav Type */

#cuisine h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 15px 0;
}

.cuisine-content{
    display: flex;
    justify-content: space-evenly;
}

.cuisine-content ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}

.cuisine-content h2{
    text-align: center;
    font-size: 1.2em;
   font-weight: 500;
}


/* RecipeInfo page */
#recipeInfo{
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
}


.recipeInfo-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recipeInfo-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.recipeInfo-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 1.2em;
    color: #666;
}

.recipeInfo-content p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipeInfo-content i {
    color: #ff5722; 
    margin-right: 5px;
}

.recipe-details  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-details h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-size: 1.8em;
    color: #333;
    text-align: center;
}

.ingredient-list{
    background-color: #fafafa; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 20px;
}

.ingredient-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.ingredient-icons h2 {
    font-size: 1.8em;
    color: #333; 
    margin-bottom: 15px; 
    border-bottom: 2px solid #ddd; 
    padding-bottom: 5px; 
}

.ingredient-icons li {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.ingredient-icons li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.instructions-content{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.instructions-content h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.recipe-details div {
    margin-top: 15px;
    line-height: 1.6;
    color: #444;
}

.instructions-content{
    text-align: center;
}

a[href="/api"] {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a[href="/api"]:hover {
    background-color: #ff3d2e;
}


.ingredient-icons img {
    width: 20px; 
    height: 20px;
     margin-right: 10px;
}
