.random {
  background: url(/image/recipesbg.jpg) no-repeat left/120%;
  animation: sliding-background 50s linear infinite;
}

.dessert {
  background: url(/image/kobby-mendez-q54Oxq44MZs-unsplash.jpg) no-repeat left/120%;
  animation: sliding-background 50s linear infinite;

}

.healthy {
  background: url(/image/dan-gold-4_jhDO54BYg-unsplash.jpg) no-repeat left/120%;
  animation: sliding-background 50s linear infinite;

}



.recipe-headers .titles {
  background: var(--primary);
  font-size: 8rem;
  text-align: center;
  letter-spacing: 1vw;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black 2px 2px black 3px 3px black 4px 4px black 5px 5px black 6px 6px black 7px 7px black 8px 8px black 9px 9px black 10px 10px black 11px 11px black 12px 12px black 13px 13px black 14px 14px black 15px 15px black 16px 16px black 17px 17px black 18px 18px black 19px 19px black 20px 20px black 21px 21px black 22px 22px black 23px 23px black 24px 24px black 25px 25px black 26px 26px black 27px 27px black 28px 28px black 29px 29px black 30px 30px black 31px 31px black 32px 32px black 33px 33px black 34px 34px black 35px 35px black;
}

.recipe-headers:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

@keyframes sliding-background {
  0%, 100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

/* Profile Page  */



/* Profile card  */

.user-info{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.user-info  .fa-user,
.user-info .fa-envelope{
display: flex;
gap: 5px;
}

.shadow{
  max-width: 400px;
  height: 400px;
  transform: translateY(-50%);
}

#header{
  width:50vw;
  max-width:400px;
  min-width:300px;
  height:180px;
  background:url(http://i.imgur.com/woUbg3p.jpg);
  background-size:cover;
  background-position: center center;
  transition: all .08s linear;
}

.profile-label{
  display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: pink;
    border-radius: 5px;
    position: absolute;
    left: 150px;
}

#profile{
  display: flex;
  align-items: center;
  width:50vw;
  max-width:400px;
  min-width:300px;
  height:250px;
  background:white;
  position:relative;
  box-sizing:border-box;
  padding-top:40px;
  padding-left:25px;
  font-family: 'Open Sans', sans-serif;
  .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    border:3px solid hotpink;
    top:-50px;
    left: 20px;
    height:80px;
    width:80px;
    border-radius:10px;
    img{
      width:40px;
      height:40px;
      border-radius:8px;
    }
  }
  .name{
    font-size:1.3rem;
    font-weight:500;
    color:#444;
  }
  .nickname{
    color:#888;
    font-size:0.9rem;
    padding-bottom:7px;
  }
  .location{
    color:#555;
    font-size:0.9rem;
    padding-left:0px;
    position:relative;
    left:-5px;
    .material-icons{
      position:relative;
      top:3px;
      font-size:1rem;
    }
  }
}

.shadow{
  box-shadow: 0px 0px 10px 1px rgba(black,0.5);
}

.overflow{
  overflow:hidden;
}

.following,
.followers{
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
  color:#bbb;
  font-weight:300;
}
.followers{
  float:right;
  padding-right:30px;
}
.bottom{
  margin-top:10px;
}

.count{
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
  font-weight:700;
}
.profile-hero {
  height: 60vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  position: relative;
}







/* Title styling */
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



